.page {
  display: flex;
  flex-direction: column;
  min-height: 90svh;
  padding: 0px 0px 40px 0px;
  width: 80%;
  margin: auto;
}

.contactTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 60px 0px 40px 0px;
}

.contactMap{
  width: 100%
}
.contactMain{
  display: flex;
  margin-top: 20px;
}
.contactAddress{
  display: flex;
  width: 46%;
  margin: 20px 2% 10px 2%;
  padding: 40px 20px 40px 20px;
  border: 1px solid #EAEDE8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.contactEmailMain{
  display: flex;
  flex-direction: column;
  width: 46%;
  margin: 20px 2% 10px 2%;
  padding: 40px 20px 40px 20px;
  border: 1px solid #EAEDE8;
  border-radius: 4px;
}
.contactEmail{
  display: flex;
  flex-direction: row;
  margin: 20px 2% 0px 2%;
}
.addressTitle{
  font-size: 16px;
  width: max-content;
  font-weight: bold;
}
.addressMain{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5px;
}
.addressDetail{
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.4;
}
.locationIcon{
  font-size: 22px;
}

@media only screen and (max-width: 992px) {
  .contactTitle {
    font-size: 24px;
    margin: 20px 0px 20px 0px;
  }
  .page {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .contactNavigation{
    width: 100%;
  }
  .contactMap{
    width: 100%;
    height: 60%;
  }
  .contactMain{
    width: 100%;
    flex-wrap: wrap;
  }
  .contactAddress{
    width: 100%;
    padding: 20px 10px 20px 10px;
  }
  .locationIcon{
    height: 100%;
  }
  .addressMain{
    display: block;
  }
  .addressTitle{
    width: 90%;
  }
  .contactEmailMain{
    display: flex;
    padding: 20px 10px 20px 10px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .addressDetail{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
  }
}