.footerContainer{
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 40px 0px 20px 0px;
  display: flex;
}

.footerMainContainer{
  background-color: #EAEDE8;
  min-height: 120px;
}

.copyright{
  width: 100%;
  align-content: flex-end;
  padding-top: 40px;
}

.copyrightText{
  width: fit-content;
  margin: auto;
  font-size: 16px;
  color: #878787;
}

.socialMain{
  display: flex;
}

.logo{
  width: 120px;
  height: auto
}

.logoContainer{
  width: 10%;
}

.socialIcon{
  font-size: 25px;
  margin: 4px 8px 4px 8px;
}
.footerLinks{
  margin: 30px 0px 30px 0px;
}
.feedbackLink{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.copyright2{
  display: none;
}

@media only screen and (max-width: 992px) {
  .footerContainer{
    width: 90%;
  }
  .copyright{
    display: none;
  }
  .copyright2{
    display: flex;
  }
}