.logo {
  width: 80px;
  height: auto
}

.logoContainer{
  width: 10%;
}

.navBarContainer{
  width: 80%;
  margin: auto;
  padding: 5 0 5 0;
}

.headerContainer {
  border-bottom: 2px solid #d4d4d4;
}

.navBarContainerDesktop{
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.navList{
  display: flex;
  font-size: 18px;
  height: 60px;
  margin: auto;
  float: right;
  font-weight: lighter;
}

.navItem{
  text-decoration: none;
  list-style: none;
  align-content: center;
  margin: 0 10 0 10;
}

.menuContainer{
  width: 90%;
}