.logo {
  width: 80px;
  height: auto
}

.logoContainer{
  width: 10%;
}

.navBarContainer{
  width: 80%;
  margin: auto;
  padding: 5px 0px 5px 0px;
}

.headerContainer {
  border-bottom: 2px solid #d4d4d4;
}

.navBarContainerDesktop{
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.navList{
  display: flex;
  font-size: 18px;
  height: 60px;
  margin: auto;
  float: right;
  font-weight: lighter;
}

.navItem{
  text-decoration: none;
  list-style: none;
  align-content: center;
  margin: 0px 10px 0px 10px;
}

.menuContainer{
  width: 90%;
}
.navBarContainerMobile{
  display: none;
}

@media only screen and (max-width: 992px) {
  .navBarContainerDesktop{
    display: none;
  }
  .navBarContainerMobile{
    display: flex;
  }
  .logoContainer{
    width: 50%
  }
  .menuContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .burgerButton{
    background-color: white;
    border: none;
    font-size: 40px;
  }
}